@import "tailwindcss";

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #ff7f50 !important;
  width: 12px;
  height: 12px;
}
